{% extends '_layouts/base.twig' %}

{% block body %}
    <article class="page-wrap">
      <main class="message">
        <div class="center">
          {% block main %}{% endblock %}
        </div>
      </main
    </article>
{% endblock %}
